/* body {
  background-color: white;
}

.joe {
  text-align: right;
}
.john {
  text-align: right;
}
.jade {
  text-align: right;
}

.block {
  text-align: center;
  border: 15px;
  padding: 15px;
}

.block-2 {
  text-align: center;
  background-color: blue;
}
.bull{
  text-align: left; */

/* } */